.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.log

# Laufzeit- und Ergebnisdaten
#data/
data/processed/
data/sorted/
train/runs/
train/tmp_runs/
output/

# Betriebssystemspezifisches
.DS_Store
Thumbs.db
